/* The CSS and JavaScript for this page are both entirely inline because,
 * even with that added content, the compressed page is under 14KB and thus
 * fits in the initial TCP window (1 round trip).  Comments remain in for
 * the same reason.
 *
 * The CSS follows the BEM style, which is a nice fit for a project of
 * this size.  http://getbem.com/  The colors and general look/feel 
 * are heavily modeled on the Mastodon default theme, since many visitors
 * will likely come directly from there.
 */

/*
 * Page-Global Styles
 */
body {
  margin: 0;
}
p {
  margin-bottom: 0;
}
.body__defaults {
  line-height: 1.6;
  font-size: 18px;
  color: #fff;
  background-color: #444b5d;
  padding: 0 10px;
  font-family: -apple-system, /* Use system fonts to save page-weight */
         BlinkMacSystemFont,
         'Segoe UI',
         Roboto,
         'Helvetica Neue',
         Arial, sans-serif
}
.header--main {
  margin-top: 0;
  line-height: 3em;
  margin-bottom: 0;
  text-align: center;
}
.link {
  color: #2b90d9; /* blue that matches buttons from Mastodon */
  text-decoration: none;
}

.button {
  border: 10px none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 500;
  line-height: 36px;
  padding: 0 16px;
  text-align: center;
  margin: auto;
  margin-top: .5em;
  font-size: 1.25em;
}
.button--good {
  background-color: #2b90d9; /* Blue, matching Mastodon "Toot!" button */
}
.button--show-more {
  background: #606984;
  margin-left: 1em;
  display: inline-block;
  border-radius: 2px;
  border: 0;
  color: #282c37;
  font-weight: 700;
  font-size: 12px;
  padding: 0 6px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
  vertical-align: middle;
}
/*
 * Styles for forms
 */
/*
 * Styles for the Results section (shown once loaded)
 */
.results--target-toot {
  overflow: hidden;
  border-spacing: 0;
  margin: auto;
  border-radius: 12px;
  text-align: left;
  padding: 6px 13px;
  border-bottom: 1px solid #393f4f; /* grey, same as used in Mastodon*/
  max-width: 700px;
  background-color: #282c37; /* Dark grey; same as Mastodon timelines */
}
.results--target-toot a {
  color: #2b90d9; /* blue that matches buttons from Mastodon */
  text-decoration: none;
}
.results--target-toot .invisible {
  display: inline-block;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
.results--target-toot .ellipsis:after{
  content: "\2026";
}
.toot-header__img {
  width: 48px;
  height: 48px;
  padding: 5px;
  padding-right: 1em;
  float: left;
}

.account-name {
  color: #606984; /* Light grey; same as used in Mastodon */
}

/*
 * Styles for the loading screen
 */
.content__loading {
  /* display: none; /* initially hidden, revealed by JavaScript */
  text-align: center;
}
.loading--done {
  display: none;
}
.error--unknown {
  display: none;
}
.error--toot-not-found {
  display: none;
}
@-webkit-keyframes blink {
  50% {
    color: transparent;
  }
}
@keyframes blink {
  50% {
    color: transparent;
  }
}
.loader__dot {
  -webkit-animation: 1s blink infinite;
  animation: 2s blink infinite;
}
.loader__dot:nth-child(2) {
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
}
.loader__dot:nth-child(3) {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.toot__image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.image__container {
  display: inline-block;
  height: 300px;
  width: 300px;
  padding: 1%;
}

.toot-footer__metadata {
  padding-left: 20%;
  font-size: 110%;
}
